main {
    padding-left: 330px;
    
  }

  body{
      background-color: #F5F5F5;
  }

  .principal{
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgb(211, 207, 207);
    padding: 20px;
    margin-bottom: 30px;

  }

  .titulo{
      text-align: center;
      margin-bottom: 30px;
  }

  .registrar{
      margin: 0 auto;
      display: block;
      width: 50%;
  }

  .dropdown-content {
    max-height: 350px !important;
    backface-visibility: hidden !important;
 }

 #imgLogo{
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* Carga de bloques */

.switch{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* #subCatAdd1{
  display: flex;
  align-items: center;
} */

.invisible{
  display: none!important;
  opacity: 0;
}

.visible{
  display: block;
  transition: 1s;
  opacity: 1;
}
.addCat{
  width: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
}

.switText{
  padding: 10px 0 20px 0;
}

#modal1 .row{
  border-bottom: 2px dashed #d0d0d0;
  padding-bottom: 25px;
}

#modal1 .row.visible{
  position: relative;
}

.cerrar{
  position: absolute;
  top: -40px;
  bottom: 0;
  right: 0;
}

.oculto{
  opacity: 0;
}

.guardar{
  margin: 0 auto;
  display: block;
  width: 50%;
}

.ContImgContSubCat{
  display: flex;
  align-items: center;
}

.imgContSubCat{
  max-width: 50%;
}

.img-cat-ord{
  width: 532px;
}

.comentario{
  overflow: scroll;
  height: 60px;
}


  @media only screen and (max-width : 992px) {
    main {
      padding-left: 0;
    }
  }